<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="address" class="constructorinjectionwithDO.Address">
		<constructor-arg value="Warangal"></constructor-arg>
		<constructor-arg value="Warangal Urban"></constructor-arg>
		<constructor-arg value="Telangana"></constructor-arg>
	</bean>


	<bean id="employee" class="constructorinjectionwithDO.Employee">
		
		<constructor-arg value="12" type="int"></constructor-arg>
		<constructor-arg value="Seetaram"></constructor-arg>
		
		<constructor-arg>
			<ref bean="address" />
		</constructor-arg>
	
	</bean>

</beans>  